.app {
  display: grid;
  grid-template-columns: 60px auto;
  height: 100vh;
}

/* Login */
div.loginFrame {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: lightgray;
  display: flex;
}

form.loginForm {
  text-align: center;
  vertical-align: middle;
  width: 20%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

button.loginButton {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: transparent;
  border-color: white;
}

button.newUserButton {
  margin: 5px;
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
  background-color: transparent;
  border-color: white;
}

/* Homepage */
div.navBar {
  height: 100%;
  width: 60px;
  border-right: 1px solid grey;
  position: fixed;
}

div.pageContent {
  grid-column-start: 2;
  grid-column-end: 3;
}

.file_icon {
  height: 30px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 20px;
  padding-right: 30px;
  float: left;
}

img.folder_icon {
  height: 40px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 25px;
  padding-right: 34px;
  float: left;
}

img.markdown_icon {
  height: 30px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 20px;
  padding-right: 30px;
  float: left;
}

img.home_icon {
  height: 45px;
  margin: 5px;
}

img.new_icon {
  height: 45px;
  margin: 5px;
}

.new_document_panel {
  margin-top: 1%;
}

.new_document_editor {
  margin-left: 1%;
  margin-top: 4px;
  margin-bottom: 0;
  width: 70%;
  position: absolute;
  vertical-align: middle;
}

.new_document_name {
  width: 220px;
  padding: 12px 10px;
  margin-left: 1%;
  margin-top: 0;
  margin-bottom: 4px;
  border: 1px solid gray;
  border-radius: 5px;
}

.editing_panel {
  margin-top: 1%;
}

button.delete {
  background-color: white !important;
  border: 1px solid #ff8080 !important;
  color: red !important;
  float: right !important;
  margin-right: 1% !important;
}

button.delete:hover {
  background-color: #ffe6e6 !important;
}